.Timer {
    /* no-op */
}
.Timer .player_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Timer .moderate_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}