.Timer {
    /* no-op */
}
.Timer .player_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Timer .moderate_section {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}