.Button {
    padding: 10px;
}

.Button button {
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    background-color: white;
    font-family: "Nanum Gothic";
    font-weight: bold;
}

.Button button:hover {
    background-color: gainsboro;
}

.Button button:active {
    background-color: silver;
}