.Home {
    display: flex;
    flex-direction: column;
}

.Home .ad_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Home .top_section {
    display: flex;
    flex-direction: row;
}

.Home .bottom_section {
    display: flex;
    flex-direction: row;
}

/* 1024*768 미만은 줄어든 화면이 보여진다 */
@media screen and (max-width: 1023px) {
    .Home .top_section {
        flex-direction: column;
    }
}