.Result {
    display: flex;
    flex-direction: column;
}

.Result table {
    display: flex;
    background-color: #fefefe;
}


.Result thead {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.Result tbody {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.Result tr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Result th {
    padding: 20px;
    font-weight: extrabold;
    text-align: start;
    border: 1px solid gray;
    word-wrap: break-word;
}

.Result td {
    padding: 20px;
    font-weight: bold;
    text-align: start;
    border: 1px solid gray;
    word-wrap: break-word;
}

.Result .exp {
    background-color: #afee00;
    color: black;
}

.Result .meso {
    background-color: #ffdd11;
    color: black;
}