.InputSectionPotion {
    display: flex;
    flex-direction: column;
}

.InputSectionPotion section {
    max-width: 222px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.InputSectionPotion legend {
    font-weight: bold;
}

.InputSectionPotion input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Nanum Gothic";
    font-weight: bold;
}

.InputSectionPotion p {
    padding-left: 5px;
    font-weight: bold;
}

.InputSectionPotion .input_section {
    display: flex;
    flex-direction: row;
}

.InputSectionPotion .input_section .input_hp, .InputSectionPotion .input_section .input_hp:focus {
    border: 2px solid red;
}

.InputSectionPotion .input_section .input_mp, .InputSectionPotion .input_section .input_mp:focus {
    border: 2px solid blue;
}